@tailwind base;
@tailwind components;
@tailwind utilities;

.blocks-class a {
  color: #8b572a !important;
  font-weight: 600;
}

.subcategory::-webkit-scrollbar {
  width: 0px;
}

.filters::-webkit-scrollbar {
  width: 5px;
}

.filters::-webkit-scrollbar-thumb {
  background-color: #d5d5d5;
}

.filters::-webkit-scrollbar-track {
  background-color: #f2f2f2;
}

.html-desc h6 {
  display: block;
  margin-bottom: 14px;
  margin-top: 14px;
  font-size: 16px;
  line-height: 120%;
  font-weight: 600;
  color: #242424;
}

.html-desc h5 {
  display: block;
  margin-bottom: 16px;
  margin-top: 16px;
  font-size: 18px;
  line-height: 120%;
  font-weight: 600;
  color: #242424;
}

.html-desc h4 {
  display: block;
  margin-bottom: 18px;
  margin-top: 18px;
  font-size: 20px;
  line-height: 120%;
  color: #242424;
  font-weight: 600;
}

.html-desc h3 {
  display: block;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 22px;
  font-weight: 600;
  color: #242424;
  line-height: 120%;
}

.html-desc h2 {
  display: block;
  margin-bottom: 22px;
  margin-top: 22px;
  font-size: 24px;
  font-weight: 600;
  color: #242424;
  line-height: 120%;
}

.html-desc h1 {
  display: block;
  margin-bottom: 24px;
  margin-top: 24px;
  font-size: 26px;
  font-weight: 600;
  color: #242424;
  line-height: 120%;
}

.html-desc p {
  display: block;
  margin-bottom: 12px;
  margin-top: 12px;
  font-size: 14px;
  color: #242424;
  line-height: 150%;
  color: #777777;
}

.html-desc ul {
  list-style-type: disc;
  padding-left: 20px;
  font-size: 14px;
  line-height: 150%;
  color: #777777;
}

.html-desc ol {
  list-style-type: decimal;
  padding-left: 20px;
  font-size: 14px;
  line-height: 150%;
  color: #777777;
}

.html-desc blockquote {
  quotes: "\\201C""\\201D";
  font-style: italic;
  color: #777777;
}

.html-desc img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-top: 16px;
  margin-bottom: 16px;
}

.html-desc a {
  color: #0000ee;
  text-decoration: underline;
  font-size: 14px;
  line-height: 150%;
}

.html-desc a:hover {
  font-size: 14px;
  line-height: 150%;
  color: darkblue;
}

.slick-dots li.slick-active button:before {
  color: #000 !important;
  border-radius: 50%;
  font-size: 8px;
}

.shops .slick-slide {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 100px !important;
}
